nextjs-portal {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Verdana";
    background-color: black;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#home {
    height: 100vh;
    width: 100%;
    top: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.header-img {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    object-fit: cover;
    height: 100vh;
    filter: brightness(0.6);
}

.header-container {
    position: absolute;
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
}

.scroll {
    opacity: 0;
    visibility: hidden;
}

.hello {
    font-size: 2em;
    margin: 0;
    color: #eee;
}

.kinn {
    font-size: 9em;
    color: #0064ff;
    margin: 0;
}

.mobile-kinn {
    font-size: 7em;
    color: #0064ff;
    margin: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container,
.card-container2 {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(25% - 5px);
    height: 6em;
    width: 13em;
    gap: 30px;
    background-color: #1c1c1c;
    box-shadow: 0px 2px 4px rbga(0, 0, 0, 0, 3);
    border-radius: 16px;
    margin: 10px;
    padding: 24px;
}

.mobile-card-container {
    display: flex;
    flex-direction: column;
    flex: 0 0 calc(25% - 5px);
    height: 6em;
    width: 8em;
    gap: 30px;
    background-color: #1c1c1c;
    box-shadow: 0px 2px 4px rbga(0, 0, 0, 0, 3);
    border-radius: 16px;
    margin: 10px;
    padding: 24px;
}

.column-center {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5em;
}

.card-img {
    height: 50px;
    width: 50px;
}

.card-title {
    margin-left: -0.25em;
    font-size: 30px;
}

.converter {
    font-size: 21px;
}

.card-text {
    text-align: left;
    font-size: 0.5em;
    color: grey;
}

.card-footer {
    font-size: 17px;
    color: white;
}

.introduce {
    text-align: center;
    font-size: 3em;
    color: #eee;
}

.mobile-introduce {
    text-align: center;
    font-size: 2em;
    color: #eee;
}

.wave {
    height: 1em;
    width: 1em;
}

.arrow {
    width: 5em;
    margin-top: 40em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: MoveUpDown 2s linear infinite;
    position: relative;
}

.mobile-arrow {
    width: 5em;
    margin-top: 35em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: MoveUpDown 2s linear infinite;
    position: relative;
}

@keyframes MoveUpDown {
    0%,
    100% {
        bottom: 0;
    }
    50% {
        bottom: 2em;
    }
}

.white {
    color: white;
    font-weight: bold;
}

.usa {
    height: 1.2em;
    width: auto;
}

.f1 {
    height: 1em;
    width: auto;
}

.toss {
    height: 2.75em;
    width: auto;
    margin-top: -1em;
    margin-bottom: -1em;
    margin-left: -1em;
    margin-right: -1em;
}

.blank {
    margin-top: 20em;
}

.About {
    text-align: center;
    margin-top: 5em;
    padding-top: 3em;
    font-size: 50px;
    color: #0064ff;
}

.mobile-aboutme-text {
    font-size: 1.3em;
    font-weight: bold;
}

.support {
    text-align: center;
    font-size: 50px;
    color: #00ffff;
}

.support:hover {
    color: #5d3fd3;
}

.banner {
    height: 17.5em;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mobile-banner {
    height: 12em;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.margin10 {
    margin-top: 10%;
}

.list {
    text-align: center;
    margin-top: 3em;
    margin-bottom: 0.25em;
    padding-top: 3em;
    font-size: 3.5em;
    color: white;
}

.mobile-list {
    text-align: center;
    margin-top: 3em;
    padding-top: 3em;
    font-size: 3.75em;
    color: white;
}

.click-card {
    text-align: center;
    margin-top: -0.5em;
    margin-bottom: 3em;
    color: white;
}

.portfolio {
    height: 50px;
    width: 50px;
    margin-left: 30%;
    padding-right: 20px;
}

.discord {
    width: auto;
}

.spec {
    font-size: 35px;
    color: white;
    text-decoration: none;
}

.spec:hover,
.spec3:hover {
    color: #5d3fd3;
}

.spec2,
.spec3 {
    font-size: 35px;
    color: white;
    text-decoration: none;
    height: 4em;
    width: 8em;
}

.account {
    height: 4em;
    margin: 30px;
    max-width: 6em;
}

.skill {
    height: 6em;
    margin: 20px;
    max-width: 6em;
}

.explain {
    text-align: left;
    margin-left: 30%;
}

.profile {
    height: 80px;
    width: 100px;
    margin-left: 300px;
    margin-bottom: 50px;
}

.version {
    text-align: center;
    padding-right: 40%;
    padding-top: 5%;
    font-size: 35px;
    color: white;
}

.release {
    padding-left: 25%;
    padding-top: 0%;
    font-size: 20px;
    color: white;
}

.img {
    width: 30%;
    height: auto;
    display: block;
    padding-left: 60%;
}

.link {
    text-decoration: none;
}

p {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: grey;
}

#About,
#Portfolio,
#Experience,
#Skills,
#Profile {
    overflow-y: hidden;
}
